;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :builds {:app {:target :browser 
                :output-dir "build" 
                :modules {:main {:entries [segment.core]}}}}}